---
interface Props {
    color?: string | undefined;
    width?: string | undefined;
    colorHover?: string | undefined;
    margin?: string | undefined;
}

const { color = "var(--white)", colorHover = "var(--primary)", width = "40px", margin = "10px"} = Astro.props
---
<div class="social-media-icons">
    <a 
        id="lobo-icon"
        href="http://www.uad.mx/" 
        target="_blank"
    >
        <svg
            style={`fill: ${color}; width: ${width}; margin: ${margin};`}
            onmouseover={`this.style.fill="${colorHover}"`}
            onmouseleave={`this.style.fill="${color}"`}
            viewBox="0 0 129.04 129.04" 
        >
            <g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M64.53,0A64.52,64.52,0,1,0,129,64.53,64.52,64.52,0,0,0,64.53,0ZM86.44,20.85c-4.71,5.73-2.82,11.29-.72,16.84l-3.63-1c-.54-3.27-1.73-6.48-.42-9.93-2.59-.56-3.61,1.62-4.72,3.63L76.53,26Q79.79,22.68,86.44,20.85Zm17.7,53.64C76.78,76,63,85.91,57,111.71c-7-9.24-11.7-18.84.1-30.87-3.12,6.74-4.69,13.57-2,20.67,12.17-23,25-26.47,48-29.85,2.33-.47,6.44-3.93,8.28-9.48-1.31-.3-2.75-1.34-4.72-3.9A5.5,5.5,0,0,1,109,56.57L92.39,48.13c-4.11-6.56-12-8.36-22.37-6.89a6.08,6.08,0,0,0,3.09-6.48,20.35,20.35,0,0,0-1.86-9.56q-3.65,4-3.24,8.12c.42,2.29-.69,4.44.12,5.28-1.41-1-.2-4.49-4.39-4.52,2-3.77,3.84-6.24,5.85-10-3,2.23-6,4.31-8.64,10-.27,3.87,2.1,6.56,4.31,9.32C59,38,45.73,33.08,35.78,34.63,38.3,36.06,43,37.76,45.62,40c-9.89,0-24.42,6-25,13.62,9-1.37,22.3-1.8,29.77,1.32,2.37-2.77,6.06-5.62,11.77-8.24.23-1.61-1.05-3.08-3.38-4.46L78.42,47c-.19-.71-.38-1.42-.58-2.14,5.68.5,6.69,2.21,10,3.68-.91,1-1.6,1.39-2.08,1,.83,1.84,3.26,3.55,6.14,5.23h0c-7.14-2.89-24.63-7.85-24.68-6.59-18.1,3.31-7.74,17.63,10.23,16.62-3.93,1.08-5.82,3.45-15.66.79-5.79,1.2,1,8,2.53,11.37-3-2.82-12-5.75-9.09-14.9-2.76-2-5.47-1.76-8,6.08a26.18,26.18,0,0,1,7.63,4.5c-10.13,3-19.14,15.38-22.48,27.52.22-6.76,3.78-14.33,7.43-20.52C23.12,84.49,20,91.6,14.21,98.27c4.31-9.9,10.58-18,21.83-26.73-2.4-1.89-8.78-4.11-13.74-3.77,9-1.71,17.16-2.4,24.41.16A14.38,14.38,0,0,1,49.3,56.34c-9.48-2.26-24.46-2.42-36.72,4,3.17-10.8,11.39-17.15,24-21.6.48-1.71-3.51-2.79-10-3.23,17.7-6.86,30-4,32.7-1.88,4-7.35,6.66-11.31,12.79-16.32C72.92,23.19,74.81,29,75,34.9A64.54,64.54,0,0,1,95.61,46.19C110.68,54.81,110,52.86,115.38,55,120.1,57.85,108.05,73.08,104.14,74.49Z"/></g></g>
        </svg>
    </a>
    <a href="#" id="facebook-logo">
        <svg
            style={`fill: ${color}; width: ${width}; margin: ${margin}`}
            onmouseover={`this.style.fill="${colorHover}"`}
            onmouseleave={`this.style.fill="${color}"`}
            viewBox="-5 0 20 20" 
        >
            <g stroke-width="1"><g transform="translate(-385.000000, -7399.000000)"><g transform="translate(56.000000, 160.000000)"><path d="M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z" id="facebook-[#176]"></path></g></g></g>
        </svg>
    </a>
    <a 
        id="instagram-logo"
        href="https://www.instagram.com/lobosuadmx"
        target="_blank"
    >
        <svg
            style={`fill: ${color}; width: ${width}; margin: ${margin}`}
            onmouseover={`this.style.fill="${colorHover}"`}
            onmouseleave={`this.style.fill="${color}"`}
            viewBox="0 0 24 24"
        >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"/>
            <path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z"/>
        </svg>
    </a>
    <a 
        id="x-logo"
        href="https://x.com/lobosuadmx"
        target="_blank"
    >
        <svg 
            style={`fill: ${color}; width: ${width}; margin: ${margin}`}
            onmouseover={`this.style.fill="${colorHover}"`}
            onmouseleave={`this.style.fill="${color}"`}
            shape-rendering="geometricPrecision" 
            text-rendering="geometricPrecision" 
            image-rendering="optimizeQuality" 
            fill-rule="evenodd" 
            clip-rule="evenodd" 
            viewBox="0 0 512 462.799" 
        >
            <path fill-rule="nonzero" d="M403.229 0h78.506L310.219 196.04 512 462.799H354.002L230.261 301.007 88.669 462.799h-78.56l183.455-209.683L0 0h161.999l111.856 147.88L403.229 0zm-27.556 415.805h43.505L138.363 44.527h-46.68l283.99 371.278z"/>
        </svg>
    </a>
    <a 
        id="whatsapp-logo"
        href="https://wa.me/526181102529?text=%F0%9F%91%8B%20Hola,%0A%0AEstoy%20interesado%20en%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20la%20Escuela%20de%20Medicina%20Mixta%20Virtual."
        target="_blank"
    >
        <svg
            style={`fill: ${color}; width: ${width}; margin: ${margin}`}
            onmouseover={`this.style.fill="${colorHover}"`}
            onmouseleave={`this.style.fill="${color}"`}
            viewBox="0 0 32 32" 
        >
            <path d="M26.576 5.363c-2.69-2.69-6.406-4.354-10.511-4.354-8.209 0-14.865 6.655-14.865 14.865 0 2.732 0.737 5.291 2.022 7.491l-0.038-0.070-2.109 7.702 7.879-2.067c2.051 1.139 4.498 1.809 7.102 1.809h0.006c8.209-0.003 14.862-6.659 14.862-14.868 0-4.103-1.662-7.817-4.349-10.507l0 0zM16.062 28.228h-0.005c-0 0-0.001 0-0.001 0-2.319 0-4.489-0.64-6.342-1.753l0.056 0.031-0.451-0.267-4.675 1.227 1.247-4.559-0.294-0.467c-1.185-1.862-1.889-4.131-1.889-6.565 0-6.822 5.531-12.353 12.353-12.353s12.353 5.531 12.353 12.353c0 6.822-5.53 12.353-12.353 12.353h-0zM22.838 18.977c-0.371-0.186-2.197-1.083-2.537-1.208-0.341-0.124-0.589-0.185-0.837 0.187-0.246 0.371-0.958 1.207-1.175 1.455-0.216 0.249-0.434 0.279-0.805 0.094-1.15-0.466-2.138-1.087-2.997-1.852l0.010 0.009c-0.799-0.74-1.484-1.587-2.037-2.521l-0.028-0.052c-0.216-0.371-0.023-0.572 0.162-0.757 0.167-0.166 0.372-0.434 0.557-0.65 0.146-0.179 0.271-0.384 0.366-0.604l0.006-0.017c0.043-0.087 0.068-0.188 0.068-0.296 0-0.131-0.037-0.253-0.101-0.357l0.002 0.003c-0.094-0.186-0.836-2.014-1.145-2.758-0.302-0.724-0.609-0.625-0.836-0.637-0.216-0.010-0.464-0.012-0.712-0.012-0.395 0.010-0.746 0.188-0.988 0.463l-0.001 0.002c-0.802 0.761-1.3 1.834-1.3 3.023 0 0.026 0 0.053 0.001 0.079l-0-0.004c0.131 1.467 0.681 2.784 1.527 3.857l-0.012-0.015c1.604 2.379 3.742 4.282 6.251 5.564l0.094 0.043c0.548 0.248 1.25 0.513 1.968 0.74l0.149 0.041c0.442 0.14 0.951 0.221 1.479 0.221 0.303 0 0.601-0.027 0.889-0.078l-0.031 0.004c1.069-0.223 1.956-0.868 2.497-1.749l0.009-0.017c0.165-0.366 0.261-0.793 0.261-1.242 0-0.185-0.016-0.366-0.047-0.542l0.003 0.019c-0.092-0.155-0.34-0.247-0.712-0.434z"></path>
        </svg>
    </a>
</div>

<style>
    .social-media-icons {
        display: flex;
    }

    .social-media-icons svg {
        transition: fill 0.3s ease-in-out
    }
</style>