---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../sections/Nav.astro";
import LicenciaturaHero from "../sections/LicenciaturaHero.astro";
import Medicina from "../icons/medicina.astro";
import Footer from "../sections/Footer.astro";
import { getCollection } from "astro:content";
import LargeView from "../sections/medicina/LargeView.astro";
import MobileView from "../sections/medicina/MobileView.astro";

const licenciaturas = await getCollection('licenciaturas');

const medicinaData = licenciaturas.find(l => l.data.titulo === "Medicina General")

if (!medicinaData) {
  throw new Error("Medicina General data not found");
}

console.log(medicinaData.data)
---
<BaseLayout title="Medicina Mixta Virtual" description="Sitio principal de Medicina Mixta Virtual UAD">
    <Nav LicenciaturaTitle="Medicina" LicenciaturaSlug={"medicina_mixta_virtual"}/>
    <LicenciaturaHero 
        image={medicinaData.data.portada}
        title={medicinaData.data.titulo}
        rvoe={medicinaData.data.rvoe} 
    >
        <Medicina width="102px" />
    </LicenciaturaHero>
    <main>
        <div class="max-w">
            <LargeView data={medicinaData.data} />
            <MobileView data={medicinaData.data} />
        </div>
        <Footer />
    </main>
</BaseLayout>

<style>
    main {
        background: var(--gray-950);
    }

    .max-w {
        padding: 30px 20px;
        max-width: 1280px;
        margin: auto;
    }
</style>

<script>
    document.addEventListener('astro:page-load', function () {
        const largeView = document.getElementById('large-view');
        const mobileView = document.getElementById('mobile-view');
        let largeViewParent = largeView.parentElement;
        let mobileViewParent = mobileView.parentElement;

        function checkWindowSize() {
            if (window.innerWidth <= 600) {
                if (largeViewParent && largeViewParent.contains(largeView)) {
                    largeViewParent.removeChild(largeView);
                }
                if (mobileViewParent && !mobileViewParent.contains(mobileView)) {
                    mobileViewParent.appendChild(mobileView);
                }
            } else {
                if (mobileViewParent && mobileViewParent.contains(mobileView)) {
                    mobileViewParent.removeChild(mobileView);
                }
                if (largeViewParent && !largeViewParent.contains(largeView)) {
                    largeViewParent.appendChild(largeView);
                }
            }
        }

        window.addEventListener('resize', checkWindowSize);
        checkWindowSize();
    })
</script>
    